model:
  base_learning_rate: 4.5e-06
  target: taming.models.vqgan.VQModel
  params:
    embed_dim: 256
    n_embed: 16384
    monitor: val/rec_loss
    ddconfig:
      double_z: false
      z_channels: 256
      resolution: 256
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
        - 1
        - 1
        - 2
        - 2
        - 4
      num_res_blocks: 2
      attn_resolutions:
        - 16
      dropout: 0.0
    lossconfig:
      target: taming.modules.losses.vqperceptual.VQLPIPSWithDiscriminator
      params:
        disc_conditional: false
        disc_in_channels: 3
        disc_start: 53688
        disc_weight: 0.2
        codebook_weight: 1.0
data:
  target: main.DataModuleFromConfig
  params:
    batch_size: 10
    num_workers: 4
    train:
      target: taming.data.custom.CustomTrain
      params:
        training_images_list_file: /opt/ml/taming-transformers/data/train_500k.txt
        size: 256
    validation:
      target: taming.data.custom.CustomTest
      params:
        test_images_list_file: /opt/ml/taming-transformers/data/test_500k.txt
        size: 256
-gpus: null
-0,: null
